
###################################################
# KEYTAR SPECIFICS                                #
###################################################
# Needed so that the D-Bus message service can    #
# be used for the entire session so that we can   #
# unlock the gnome keyring used by keytar         #
###################################################
auth     optional  pam_gnome_keyring.so
session  optional  pam_gnome_keyring.so auto_start
###################################################
# END KEYTAR SPECIFICS                            #
###################################################
